---
const navigation = [
  { name: "Inicio", href: "/" },
  { name: "Nosotros", href: "/nosotros/" },
  { name: "Blog", href: "/blog/" },
  { name: "Proceso", href: "/proceso/" },
  { name: "Menú", href: "/menu/" },
  { name: "Galería", href: "/galeria/" },
  { name: "Contacto", href: "/contacto/" },
];

const { pathname } = Astro.url;

// Is active if the path starts with the href but not if it's the root path
const isActive = (href: string) => {
  if (href === "/") return pathname === href;

  return pathname.startsWith(href);
};
---

<nav class="flex flex-col md:flex-row items-center gap-4">
  {
    navigation.map((item) => (
      <a
        href={item.href}
        class={`uppercase text-md font-medium hover:text-coffee-400 transition-colors ${isActive(item.href) ? "text-coffee-400" : "text-white"}`}
      >
        {item.name}
      </a>
    ))
  }
</nav>
